@using SoftMills.ComplexValidation.Mvc.Tests.Controllers
@model SoftMills.ComplexValidation.Mvc.Tests.Models.HomeIndexModel
<!DOCTYPE html>
<html>
    <head>
        <title>Test Page for SoftMills.ComplexValidation - Simple Validations</title>
    </head>
    <body>
        <form method="POST">
            <h1>Other Pages</h1>
            <div><a href="@Url.HomeRemote()">Remote Validation Test</a></div>

            <h1>Simple Tests</h1>
            @Html.EditorForModel()
            @Html.EditorFor(m => m.Obj)
            @Html.EditorFor(m => m.Obj.Sub)
            @Html.EditorFor(m => m.SantaClaus)
            @Html.EditorFor(m => m.PrimeMinister)
            @Html.EditorFor(m => m.President)

            @Html.TextBoxFor(m => m.Input)
            @Html.ValidationMessageFor(m => m.Input)

            <div>
                @Html.TextBoxFor(m => m.RangeMin) &lt;= @Html.TextBoxFor(m => m.RangeCurrent) &lt;= @Html.TextBoxFor(m => m.RangeMax) <br/>
                @Html.ValidationMessageFor(m => m.RangeMin)
                @Html.ValidationMessageFor(m => m.RangeCurrent)
                @Html.ValidationMessageFor(m => m.RangeMax)
            </div>
            <button type="submit">Submit</button>
            @Html.AntiForgeryToken()
        </form>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="~/scripts/jquery.validate.js"></script>
        <script type="text/javascript" src="~/scripts/jquery.validate.unobtrusive.js"></script>
        <script type="text/javascript" src="~/scripts/jquery.validate.complex.js"></script>
    </body>
</html>